.chenge {
  position: absolute;
  top: 0px;
  right: 50px;
}


.menu-icon {
  position: absolute;
  top: 20px;
  left: 30px;
  color: var(--glow-color);
  box-shadow: 0 10px 50px 0 rgba(223, 222, 230, 0.25);
}
.nav-menu {
  display: none;
}

.nav-menu.open {
  display: flex;
  font-weight: 600;
}
